<%= form_tag show_search_reservations_path, method: :get do %>
  <div class="field">
    <%= label_tag :start_date, 'From' %>
    <%= date_field_tag :start_date, params[:start_date] || Date.today %>
  </div>

  <div class="field">
    <%= label_tag :end_date, 'To' %>
    <%= date_field_tag :end_date, params[:end_date] || Date.tomorrow %>
  </div>

  <div class="field">
    <%= label_tag :number_of_guests, '# of guests' %>
    <%= select_tag :number_of_guests, options_for_select(1..10, params[:number_of_guests]) %>
  </div>

  <div class="actions">
    <%= submit_tag 'Search for Available Rooms' %>
  </div>
<% end %>
